.AuthPage{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

}


.form-element {
    display:flex;
    width:60em;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    margin-right: 25px; 
  }



  input{
    
    width:100%;
    text-align:center;
    margin:20px 20px;
    font-size: 1.1rem;
    line-height: 1.2;
    border-radius: 2px;
    
  }

  .btn-type{
    margin:20px 0px 0px 50px;
    font-size:2.0em;
    border-radius:2px;
    
    
  }





  